{% if pageCount > 1 %}
    {% if previous is defined %}
        <div class="col-md-6 text-left postNav previous">
            <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">VER ANTERIOR</a> 
        </div>
    {% else %}
        <div class="col-md-6 text-left postNav previous">
            VER ANTERIOR
        </div>
    {% endif %}

    {% if next is defined %}
        <div class="col-md-6 text-right postNav">
            <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">VER SIGUIENTE</a>
        </div>
    {% else %}
        <div class="col-md-6 text-right postNav">
            VER SIGUIENTE
        </div>
    {% endif %}
{% endif %}
