{% for post in posts %}
    <div class="col-md-6 col-sm-12" data-position="{{ position + loop.index }}">
        <article>
            <div class="post-content list">
                {% if post.images|length > 0 %}
                    {% set path = get_thumb_image(post.images.first.path, '260') %}
                {% else %}
                    {% set path = '/bundles/admin/img/default-no-image.png' %}
                {% endif %}
                <a  href="{{path("blog_blog_show", {slug: post.slug})}}" >
                    <img style="width: 100%" src="{{ path }}" />
                    <p>{{ post.title }}</p>
                </a>
            </div>
        </article>
    </div>
{% endfor %}