<script type="text/javascript">
    {% if total_items is defined %}

        $(".blog-menu a.item").click(function (event) {   
           console.log($(this).attr('href')); 
           window.location.href = $(this).attr('href');
        });

        $("#load-more").click(function (event) {
            event.preventDefault();
            var total_items = parseInt({{ total_items }});
            $('.loading').show();
            $.ajax({
                method: "POST",
                url: "{{load_more_path}}",
                data: {
                    offset: position,
                    limit: 1
                }
            }).done(function (data) {
                console.log(data);
                $('.post-more').before(data);
                $('.post-more').before('<div style="clear: both; padding: 0"> </div>');
                $('.loading').hide();
                $("#load-more a").blur();
                //check if there are more news, if not, hide ver mas noticias
                position = position + 1;
                if (total_items === position) {
                    $(".pager").hide();
                }
            }).fail(function () {
                $('.loading').hide();
                alert('Problem!');
            });
        });
        
        $('.list > li a').click(function () {
            $(this).parent().find('ul').eq(0).slideToggle('slow');

            if ($('#' + $(this).attr('id') + " span.active").css('display') == 'inline-block') {
                $('#' + $(this).attr('id') + " span.active").css('display', 'none');
                $('#' + $(this).attr('id') + " span.pasive").css('display', 'inline-block');
            } else {
                $('#' + $(this).attr('id') + " span.pasive").css('display', 'none');
                $('#' + $(this).attr('id') + " span.active").css('display', 'inline-block');
            }
            
            setTimeout(function(){
                var sidebarHeight = $('#sidebarContent').height();
                var mainHeight = $('#mainContent').height();
                if(sidebarHeight > mainHeight) {
                    //console.log(sidebarHeight);
                    $('#mainContent').height(sidebarHeight-15);
                }
            }, 1000);
            
        });

        $('.share-content').each(function (index) {
            var dir = $(this).attr('data');
            if (dir != '') {
                //var url = dir.replace("http://", "");
                var self = $(this);
                $.ajax({
                    type: 'GET',
                    url: "/blog/share-counter?url=" + dir
                            //data: {'url': url}
                }).done(function (result) {
                    //console.log(result);
                   //console.log(self.find('.tweet-counter>span.share-container-counter').html());
                    self.find('.tweet-counter span.share-container-counter').text(result.tweet);
                    self.find('.facebook-counter span.share-container-counter').text(result.facebook);
                    self.find('.google-counter span.share-container-counter').text(result.google);
                    self.find('.linked-counter span.share-container-counter').text(result.linkedin);
                });
            }
        });
    {% endif %}

</script>