<div class="well text-center subscribe">
    <p class="lead">
        Don't want to miss updates? Please click the below button!
    </p>
    <a target="_blank" href="{{ path('blog_blog_feed') }}" class="btn btn-primary btn-lg"> <i class="ion-social-rss"></i> Subscribe to my feed</a>
</div>