<div class="well text-center subscribe">
    <p class="lead">
        {{ 'blog.feed.message' | trans }}
    </p>
    <a target="_blank" href="{{ path('blog_blog_feed') }}" class="btn btn-default btn-lg"> <i class="ion-social-rss"></i> {{ 'blog.feed.button' | trans  }}</a>
</div>