{# if category view #}
{% if app.request.get('_route') == 'blog_blog_category' %}
    {% set total_items = get_blog_total_items(categoryId) %}
{% else %}
    {% set total_items = get_blog_total_items() %}
{% endif  %}


{% set position = 0 %}
<script> position = 0; </script> 
{% for post in posts %}
    <script> position = position + 1; </script> 
    {% set position = position + 1 %}
    {% include 'BlogBundle:Blog/Block:_article.html.twig' %}
{% else %}
    {{ 'blog.no.entry' | trans }}
{% endfor %}
{% if total_items is defined and total_items >  position %}
    <ul class="post-more pager text-center">
        <li class="more"><a href="#" id="load-more">{{ 'blog.more.post' | trans | upper }} <span class="loading" style="display: none;">{{ 'blog.loading' | trans }}...</span></a> </li>
    </ul>
   
{% endif %}