<div class="searchSidebarBlog">
    <form name="search-form" method="POST" action="{{path('blog_search')}}">
        <i class="ion-search"></i>
        <input name="search" class="search" type="text" placeholder="BUSCAR" />
    </form>
</div>